.social-login
    button.social-login__github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            | Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook
    button.social-login__kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            | Continue with Kakao