footer.footer
    .footer__icon
        img(src="http://gotube.s3.ap-northeast-2.amazonaws.com/logo/logo_bw_small.png", alt="gotube logo")
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;