.social-login
    |Continue with :   
    button.social-login__github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
    button.social-login__kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
    button.social-login__google
        a(href=routes.google)
            span
                img(src="https://gotube.s3.ap-northeast-2.amazonaws.com/logo/google-favicon-logo.png")